$absoluteColorWhite: #fff;
$absoluteColorBlack: #000;

$primaryColor-60: #703bf7;
$primaryColor-65: #8254f8;
$primaryColor-70: #946cf9;
$primaryColor-75: #a685fa;
$primaryColor-90: #dbcefd;
$primaryColor-95: #ede7fe;
$primaryColor-97: #f4f0fe;
$primaryColor-99: #fbfaff;

$lightColor-90: #e4e4e7;
$lightColor-95: #f1f1f3;
$lightColor-97: #f7f7f8;
$lightColor-99: #fcfcfd;

$greyColor-08: #141414;
$greyColor-10: #1a1a1a;
$greyColor-15: #262626;
$greyColor-20: #333333;
$greyColor-30: #4d4d4d;
$greyColor-40: #666666;
$greyColor-50: #808080;
$greyColor-60: #999999;
